ipykernel
langgraph>=0.4.0
langchain-tavily
langchain-openai
langchain-anthropic
serpapi
python-dotenv
tavily-python
langchain-nomic
langgraph-cli[inmem]
langchain_community
tiktoken
langchainhub
chromadb
langchain
nomic[local]
langchain-text-splitters
beautifulsoup4
langchain_ollama
matplotlib